# Ignore everything
*
# Except what I want
!.absrc
!.alsoftrc
!.apvlvrc
!.asoundrc.bak
!.bash_logout
!.bash_profile
!.bashrc
!.bashrc.d
!bin
!.cdw.conf
!.cmus
# !.config
!.conkyrc
!.conkyrc-lxde
!.conkyrc-lxde.bak
!.conkyrc-openbox
!.conkyrc-openbox-wide
!.conkyrc-pekwm
!.dir_colors
!.dir_colors.fbterm
!.dir_colors.rxvt-256color
!.dir_colors.screen-256color
!.dir_colors.xterm
!.dir_colors.xterm-256color
!.dmrc
!.dosbox
!.elinks
!.emacs
!.fbtermrc
!.fonts
!.fonts.conf
!.gitignore
!.gtkrc-2.0
!.gtkrc-2.0.mine
!.hgrc
!.htcfg2
!.hydrogen
!.inputrc
!.irbrc
# !.kde4
# !.local
!.lynxrc
!.makepkg.conf
!.midisettings.cfg
!.mikmodrc
!.mnemosyne
!.mrxvtrc
!.muttrc
!Pictures
!.pylintrc
!.pypanelrc
!.pythonrc.py
!.qt
!.screenrc
!.sword
!.tdrc
!.terminfo/
!.themes
!.timidity.cfg
!.tmux.conf
!.urxvt/
!.w3m
!.wbar
!.Xdefaults
!.Xdefaultstango
!.xinitrc
!.xmonad
!.xprofile
!.Xresources
!.xsession
!.yaourtrc
