#!/usr/bin/env bash

# Unset the local environment variables so bashrc can set them.
unset LC_ALL LC_CTYPE

# Source .bashrc if it is readable.
[[ -r $HOME/.bashrc ]] && . $HOME/.bashrc

# Set the default webbrowser for xdg-open
export BROWSER=webbrowser

# If X is started in a tmux session then set the DISPLAY environment variable
# in the tmux server so it is available to tmux run-shell command.
[[ -n $TMUX ]] && tmux set-environment -g DISPLAY $DISPLAY

# Disable dpms so the screen will not blank or go into powersave mode.
xset -dpms

# Turn on keyrepeat
xset r rate 245 30

# Turn off screen blanking
xset s off
xset s noblank

# Setup uim input support
#export GTK_IM_MODULE='uim'
#export QT_IM_MODULE='uim'
#uim-xim &
#export XMODIFIERS=@im='uim'

# Setup ibus input support
#export GTK_IM_MODULE=ibus
#export QT_IM_MODULE=ibus
#ibus-daemon &
#export XMODIFIERS=@im=ibus
